html {
    font-family: ;
    height: 200px;
}

body {
    background-color: rgb(53, 52, 77);
    }

button.sidenav {
    margin:0px;
    height: auto;
    width: auto;
    background-color: rgb(176, 40, 67);
    position:relative;
    top: 20px;
}
